@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #000;
}

body{
    width: 100vw;
    height: 100vh;
    background: #080808;
    display: grid;
    justify-content: center;
    align-content: center;
}

.main{
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 800px;
    height: 65vh;
    display: flex;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    border: 3px double#ead1f4;
    
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title{
    font-size: 50px;
    text-align: center;
}




.form-group {
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;   
}

.inputs {
    border: none;
    outline: none;
    background: none;
    width: 260px;
    margin-top: 5px;
    padding-right: 5px;
    font-size: 17px;
    color: #f5f5dc;
}

a{
    text-decoration: none;
}



.register{
    border: none;
    outline: none;
    width: 220px;
    margin-top: 25px;
    padding: 10px 0;
    font-size: 20px;
    border-radius: 40px;
    letter-spacing: 1px;
    cursor: pointer;
    background: #000;
}

.delete{
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    outline: none;
    width: 220px;
    margin-top: 25px;
    padding: 10px 0;
    font-size: 20px;
    border-radius: 40px;
    letter-spacing: 1px;
    cursor: pointer;
    background:#ead1f4;
   
}



.text_label{
    font-size: 20px;   
    color: #f5f5dc;
}

.return{
    border: none;
    outline: none;
    width: 220px;
    margin-top: 25px;
    padding: 10px 0;
    font-size: 20px;
    border-radius: 40px;
    letter-spacing: 1px;
    cursor: pointer;
    background: #000;
}

.back{
    border: none;
    outline: none;
    width: 220px;
    margin-top: 20px;
    padding: 10px 0;
    font-size: 22px;
    border-radius: 40px;
    letter-spacing: 1px;
    cursor: pointer;
    background: linear-gradient(45deg, #f5f5dc, #000);
}

.answer{
    text-align: center;
}

.table{
    border-collapse: collapse;
    width: 100%;
    background: linear-gradient(45deg, #f5f5dc, #000); /* Color de fondo de la tabla */
    color: white; /* Color del texto */
    font-family: 'Poppins', sans-serif; /* Tipo de fuente */
    margin-top: 20px;
    box-shadow: 0 0 50px 0 #f5f5dc;
}

th, td{
    border: 1px solid #ddd; /* Borde de las celdas */
    padding: 8px; /* Espaciado interno de las celdas */
    text-align: center; /* Alineación del texto en las celdas */
    text-align: center; /* Alineación central del texto en las celdas */
    padding: 12px; /* Espaciado interno mayor en las celdas */
}

th{
    background: #000;
}

.confirm{
    background-color: red;
    color: #f5f5dc; /* Color del texto */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif; /* Tipo de fuente */
    font-size: 20px;
}
